.d-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}


.card-container {
  border: 1px solid black;
  display: flex;
  justify-content: center;
  text-align: center;
}

/* .item-title {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin-top: 20px;
}

.list-group-flush {
  margin-bottom: 20px;
} */