.footer-navbar {
  background-color: #333;
  /* position: fixed; */
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
}

.footer-item, .footer-text {
  display: flex;
  /* padding: 10px 10px; */
  justify-content: space-around;
}


.footer-navbar .nav-link {
font-size: 14px;
font-weight: bold;
/* padding: 0.5rem 1rem; */
background-color: #fff;
color: #333;
border: none;
border-radius: 0.25rem;
cursor: pointer;
}

.footer-navbar .nav-link:hover {
  color: #ddd;
}
